@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta',sans-serif;
}

/* variables */
:root{
    --background-color: #CAF0F8;
    --text-color: #03055e;
    --heading-color: #90E0EF;
    --extra-colorone: #0077B6;
    --extra-colortwo: #00B4D8;
}

body{
    background-color: var(--background-color);
    color: var(--text-color);
}

/* hero-section */

.container{
    height: 100vh;
}

.header{
    display: flex;
    height: 15vh;
    width: 100%;
}

.header-left{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-left img{
    border-radius: 50%;
    height: 4rem;
    padding: 0 2rem 0 2rem;
}

.header-left p{
    font-size: 3rem;
    font-family: 'DM Serif Display', sans-serif;
}

.header-right{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-right ul{
    display: flex;
    list-style: none;
}

.header-right ul li{
    margin-left: 5rem;
    font-size: 1.5rem;
}

.cont{
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
    height: 85vh;
    background-color: var(--extra-colorone);
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

 .slides input{
    display: none;
}

.slide{
    width: 20%;
}

.slide img{
    width: 800px;
    height: 500px;
}

.navigation-manual{
   
}

.manual-btn{
    border: 2px solid #CAF0F8;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: #90E0EF;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}