@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta',sans-serif;
}

/* variables */
:root{
    --background-color: #CAF0F8;
    --text-color: #040303f7;
    --text-color1: #03055e;
    --heading-color: #90E0EF;
    --extra-colorone: #0077B6;
    --extra-colortwo: #00B4D8;
}

body{
    background: linear-gradient(90deg, #f4e446, #edd500);
    color: var(--text-color);
}

/*--------------- header ----------------------*/

.header{
    height: 15vh;
    width: 100%;
    font-size: 3rem;
    font-family: 'DM Serif Display', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 85vh;
    width: 100%;
    display: flex;
}

.form{
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.table-img{
    margin-left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-img img{
    width: 400px;
    height: 520px;
    border-radius: 20px;
}

input{
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    outline: none;
    background-color: #e8e8e8;
    width: 250px;
}


#submit{
    display: flex;
    margin-top: 1.5rem;
    background-color: #040303f7;
    color: #fff;
    width: 10rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    font-size: 1.5rem;
}

.cont{
    display: flex;
    margin-bottom: 1.5rem;
}

.row{
    width: 50%;
}

.col{
    width: 50%;
}

textarea{
    width: 40vw;
    height: 20vh;
    resize: none;
    border-radius: 10px;
    padding: 1rem;
    background-color: #e8e8e8;
    font-size: 1.1rem;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}